<h2 class="post-subtitle">
    SITIO PARA REGISTRO
</h2>

<h3 class="post-subtitle">
    (APP EXAMEN FINAL 980)
</h3>

<li class="dropdown">
    <ul class="dropdown-menu" role="menu">
        <li class="nav-item"><a class="nav-link" href="/form/registro">Registro</a></li>
        <li class="nav-item"><a class="nav-link" href="/form/listar">Ver_Registros</a></li>
    </ul>
</li>